:root{
    --overpass: 'Overpass', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

/*Mobile design*/
* {
    box-sizing: border-box;
    margin: 0px;
  }
body{
    background: white;
    text-align: center;
    z-index: 2;
}
header{
    background-image: linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-radius: 0px 0px 0px 90px;
}
.circles{
    background-image: url('/images/bg-pattern-intro.svg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: auto,contain;    
    
}

.page_heading{
    padding-bottom: 140px;

}
.page_heading h3{
    font-family: var(--overpass);
    font-weight: 600;
    color: white;
    font-size: 32px;
    padding: 0px 10px;
}
.page_heading h5{
    margin-top: 12px;
    font-family: var(--overpass);
    font-weight: 100;
    color: white;
    padding: 0px 50px;
    font-size: 17px;
    margin-bottom: 35px;
}
.button_start{
    background-color: white;
    color: hsl(356, 100%, 66%);
    font-family: var(--ubuntu);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 20px;
    border-style: none;
    font-size: 15px;
    margin-right: 20px;
}
.button_learn{
    background-color: transparent;
    color: white;
    font-family: var(--ubuntu);
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 20px;
    border-style: solid;
    border-color: white
    font-size: 15px;
}
nav{
    padding: 50px 15px;
    overflow: hidden;
}
nav img{
    width: 70px;
}
#links{
    display: none;
    background: white;
    margin-top: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
#links a{
    color: hsl(207, 13%, 34%);
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-family: var(--ubuntu);
    font-weight: 700;
}
nav a.menu_icon{
  display: block;
  float: right; 
}
.logo{
    float: left;
}
li{
    list-style: none;
    padding: 20px 20px;
}
#product{
    display: none;
}

#company{
    display: none;
}
#connect{
    display: none;
}
.arrow{
    width: 15px;
}
hr{
    width: 87%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsl(240, 2%, 79%);
}
.submenu{
    background: hsl(240, 10%, 94%);
    text-align: center;
    position: relative;
    right: 40px;
    padding: 20px 20px;
    border-radius: 10px;
}
.submenu a{
    opacity: 0.7;
}
#productarrow
{
    position: relative;
    right: 10px;
}
#hamburguerlogo{
    width: auto;
}
#companyarrow{
    position: relative;
    right: 10px;
}
#connectarrow{
    position: relative;
    right: 10px;
}
#login{
    position: relative;
    right: 20px;
}
#signup{
    position: relative;
    right: 20px;
    background-image:linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: white;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 40px;
    border-style: none;
    font-size: 15px;
}
#editormobile{
    width: 90vw;
    height: auto;    
}
#designedfuture{
    margin-top: 80px;
}
h4{
    font-family: var(--ubuntu);
    font-size: 30px;
    font-weight: 500;
    color: hsl(237, 17%, 21%);
    margin-bottom: 10px;
}
h5{
    font-family: var(--ubuntu);
    font-size: 28px;
    font-weight: 500;
    color: hsl(237, 17%, 21%);
    padding: 15px 70px;
    margin-top: 20px;
}
p{
    font-family: var(--overpass);
    font-size: 16px;
    opacity: 0.8;
    color: hsl(237, 17%, 21%);
    padding: 0px 40px;
    line-height: 1.8;
}
#phones{
    width: 100vw;
    height: auto; 
    position: relative;
    top: 200px;
    z-index: 2;+
}
#stateart{
    background-color: hsl(237, 17%, 21%);
    border-radius: 0px 90px 0px 90px;
    position: relative;
    z-index:-1;
    background-image: url("/images/bg-pattern-circles.svg");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-y: bottom 200px;
    background-position-x: center;
    z-index:1;
}
#stateartcontent{
    width: auto;
    height: 500px;
    position: relative;
    top: 170px;
}
#stateartcontent p{
    color: white;
    margin-bottom: 50px;
}
#stateartcontent h5{
    color: white;
}
#patterncircles{
    width: 500px;
    position: absolute;
    top:100px
}
#laptop{
    width: 100vw;
    height: auto; 
    margin-top: 40px;
}
footer{
    margin-top: 70px;
    background-color: hsla(240, 2%, 8%, 0.959);
    border-radius: 0px 90px 0px 0px;
    padding-bottom: 70px;
}
footer li{
    color: white;
    font-family: var(--ubuntu);
    font-size: 16px;
    font-weight: 100;
   line-height: 0;
}
h6{
    font-size: 17px;
}
footer ul{
    position: relative;
    right: 25px;
    list-style: none;
}
#footerLogo{
    margin-top: 70px;
    margin-bottom: 20px;
}